 <footer class="text-muted">
    <div class="container">
       <p class="float-right">
          <a href="#"><%= values.footer_button_text %></a>
        </p>
        <p><%= values.footer_text %></p>
   </div>
</footer>
